<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<script src="angular.min.js" charset="utf-8"></script>
<script src="app.js" charset="utf-8"></script>
<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>
        <div class="form-group {{controlStyle}}">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
             ng-model="lunchItems">
             <span id="helpBlock" class="help-block">Input does not consider , , empty items</span>
         </div class = "form-group">
         <div class="form-group" ng-click="checkLunch();">
             <button class="btn btn-default">Check If Too Much</button>
         </div>
         <div class="form-group message">
            {{lunchStatus}}
         </div>
   </div>
</body>
</html>
